/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 22, 2016, 11:26:01 PM
    Author     : Administrator
*/

body {
  background-image: url("../img/merry-christmas_poster03.png");
  background-size: auto;
  background-repeat: no-repeat;
  font-family: "Fredoka One", cursive;
  color: white;
}
.img-banner{ 
  background-image: url("../img/merry-christmas_poster02.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: auto;
  height: 300px;
}
.card-bg{
  /* C:\Users\thanh.sok\Desktop\ChucMungGiangSinh\html\img\thiepgiangsinh.jpg */
  background-image: url("../img/thiepgiangsinh.jpg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: auto;
}
h1.heading {
  font-family: "Pacifico", cursive;
}
.jumbotron {
  opacity: 0.4;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}
h4 {
  font-family: "Nunito Sans", sans-serif;
}
.bg-snow-tranparent-normal {
  opacity: 1;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}
.bg-snow-tranparent-hidden {
  opacity: 0.8;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}
.footer {
  height: 250px;
  font-size: 20px;
  background-color: darkblue;
  color: skyblue;
  padding-top: 100px;
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}
.containeri {
  position: relative;
  text-align: center;
}

.top-left {
  position: absolute;
  top: 151px;
  right: 32px;
    
}
.center {
  position: absolute;
  bottom: 115px;
  left: 250px;
  color: #6c7c6b;
  font-size: 80%;
}
.and {
  position: absolute;
  bottom: 160px;
  left: 240px;
  color: #6c7c6b;
  font-size: 80%;
}

.bottom-right {
  position: absolute;
  bottom: 253px;
  right: 20px;
  color: #6c7c6b;
  font-size: 80%;
}
.bottom-left {
  position: absolute;
  top: 0;
  left: 270px;
  color: #b78690;
}
